$font-main: "Poppins", sans-serif;
$color-font-main: #444444;

$color-bg-board: #e6e2dc;

$color-bg-cells: #ea6c36;
$color-bg-cells-drag: #bb5529;

$color-main-gradient-from: #e6e6e6;
$color-main-gradient-to: #ffffff;
$angle-main-gradient: 135deg;

$loader-color: $color-bg-cells;

$color-btn-hover: #a56f4c;
$color-btn-selected: #8f847d;
