.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -100;
  visibility: hidden;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient($angle-main-gradient, $color-main-gradient-from, $color-main-gradient-to);

  &.active {
    z-index: 100;
    visibility: visible;
  }
}

.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.loader::after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid $loader-color;
  border-color: $loader-color transparent $loader-color transparent;
  animation: loading 1.2s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
